version: 2.1

orbs:
  orb-tools: circleci/orb-tools@8.14.0
  slack: circleci/slack@dev:alpha

executors:
  ci-base:
    resource_class: small
    docker:
      - image: cibuilds/base

jobs:
  notifytest:
    executor: ci-base
    steps:
      - run: exit 0 #toggle this to force success or status for testing
      - slack/notify:
          message: "notification test for the Slack orb, triggered by *<https://github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/commit/${CIRCLE_SHA1}|commit ${CIRCLE_SHA1}>* on ${CIRCLE_PROJECT_REPONAME}'s *${CIRCLE_BRANCH}* branch (<https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}|workflow here>)"
          color: "#f4aa42"
          mentions: "${ORBS_USER_GROUP_UUID}"

  statustestpass-full:
    executor: ci-base

    parameters:
      only_for_branches:
        type: string
        default: ""

    steps:
      - run: exit 0 #toggle this to force success or status for testing
      - slack/status:
          mentions: "${ORBS_USER_GROUP_UUID}"
          only_for_branches: <<parameters.only_for_branches>>

  statustestpass-minimal:
    executor: ci-base

    parameters:
      only_for_branches:
        type: string
        default: ""

    steps:
      - run: exit 0 #toggle this to force success or status for testing
      - slack/status:
          mentions: "${ORBS_USER_GROUP_UUID}"
          only_for_branches: <<parameters.only_for_branches>>
          include_project_field: false
          include_job_number_field: false
          include_visit_job_action: false

  approvaltest:
    executor: ci-base
    steps:
      - slack/approval:
          mentions: "${ORBS_USER_GROUP_UUID}"

  approvaltest-mention-here:
    executor: ci-base
    steps:
      - slack/approval:
          mentions: "here"

  approvaltest-mention-here-2:
    executor: ci-base
    steps:
      - slack/approval:
          mentions: "foo-here-bar"

# yaml anchor filters
integration-dev_filters: &integration-dev_filters
  branches:
    ignore: /.*/
  tags:
    only: /integration-.*/

integration-master_filters: &integration-master_filters
  branches:
    ignore: /.*/
  tags:
    only: /master-.*/

prod-deploy_requires: &prod-deploy_requires
  [
    notifytest-master,
    statustestpass-full-master,
    statustestpass-minimal-master,
    statustestpass-shouldnt-trigger-master,
    approvaltest-master,
    approvaltest-mention-here-master,
    approvaltest-mention-here-2-master,
    approval-notification-job-master
  ]

add-ssh-keys: &add-ssh-keys
  [add_ssh_keys: {fingerprints: ["40:21:b7:d7:fe:ea:dd:80:ca:c8:34:7a:37:b4:b4:d2"]}]

workflows:
  lint_pack-validate_publish-dev:
    jobs:
      - orb-tools/lint

      - orb-tools/pack:
          requires: [orb-tools/lint]

      - orb-tools/publish-dev:
          context: orb-publishing
          orb-name: circleci/slack
          requires: [orb-tools/pack]

      - orb-tools/trigger-integration-workflow:
          context: orb-publishing
          name: trigger-integration-dev
          ssh-fingerprints: 79:ae:f5:10:17:8a:d2:9a:ed:63:5c:b0:92:66:23:49
          cleanup-tags: true
          requires: [orb-tools/publish-dev]
          filters:
            branches:
              ignore: master

      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-master
          ssh-fingerprints: 79:ae:f5:10:17:8a:d2:9a:ed:63:5c:b0:92:66:23:49
          cleanup-tags: true
          tag: master
          requires: [orb-tools/publish-dev]
          filters:
            branches:
              only: master

  integration_tests-prod_deploy:
    jobs:
      # triggered by non-master branch commits
      - notifytest:
          name: notifytest-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - statustestpass-full:
          name: statustestpass-full-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - statustestpass-minimal:
          name: statustestpass-minimal-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - statustestpass-minimal:
          name: statustestpass-shouldnt-trigger-dev
          context: orb-publishing
          only_for_branches: master,staging
          filters: *integration-dev_filters

      - approvaltest:
          name: approvaltest-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - approvaltest-mention-here:
          name: approvaltest-mention-here-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - approvaltest-mention-here-2:
          name: approvaltest-mention-here-2-dev
          context: orb-publishing
          filters: *integration-dev_filters

      - slack/approval-notification:
          name: approval-notification-job-dev
          context: orb-publishing
          mentions: "${ORBS_USER_GROUP_UUID}"
          filters: *integration-dev_filters

      # triggered by master branch commits
      - notifytest:
          name: notifytest-master
          context: orb-publishing
          filters: *integration-master_filters

      - statustestpass-full:
          name: statustestpass-full-master
          context: orb-publishing
          filters: *integration-master_filters

      - statustestpass-minimal:
          name: statustestpass-minimal-master
          context: orb-publishing
          filters: *integration-master_filters

      - statustestpass-minimal:
          name: statustestpass-shouldnt-trigger-master
          context: orb-publishing
          only_for_branches: master,staging
          filters: *integration-master_filters

      - approvaltest:
          name: approvaltest-master
          context: orb-publishing
          filters: *integration-master_filters

      - approvaltest-mention-here:
          name: approvaltest-mention-here-master
          context: orb-publishing
          filters: *integration-master_filters

      - approvaltest-mention-here-2:
          name: approvaltest-mention-here-2-master
          context: orb-publishing
          filters: *integration-master_filters

      - slack/approval-notification:
          name: approval-notification-job-master
          context: orb-publishing
          mentions: "${ORBS_USER_GROUP_UUID}"
          filters: *integration-master_filters

      # patch, minor, or major publishing
      - orb-tools/dev-promote-prod:
          name: dev-promote-patch
          context: orb-publishing
          orb-name: circleci/slack
          requires: *prod-deploy_requires
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-patch.*/

      - orb-tools/dev-promote-prod:
          name: dev-promote-minor
          release: minor
          context: orb-publishing
          orb-name: circleci/slack
          requires: *prod-deploy_requires
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-minor.*/

      - orb-tools/dev-promote-prod:
          name: dev-promote-major
          release: major
          context: orb-publishing
          orb-name: circleci/slack
          requires: *prod-deploy_requires
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /master-major.*/
